body {
    background-color: #eeeeee;
}

#map div {
    height:50px;
    width:50px;
    margin:-1px;
    background-color:black;
}
#map, #minimap {
    float: left;
}
#map table {
    height:100%;
    width:100%;
}
#minimap div {
    height:75px;
    width:75px;
    background-color: grey;
}
#minimap {
    margin:auto;
    margin-left:5px;
    margin-bottom:20px;
}
#text,#messagediv{
    height:50px;
    width:150px;
    margin:auto;
    float:right;
    color:black;
    align-items: center;

}
#score,#msg{
    font-size:20px;
    height:auto;
    width:auto;
    margin:auto;
    margin-top:5px;
    text-align:center;
}
#sideboard{
    float:left;
    width:160px;
}
#game{
    float:left;
}