body {
    background-color: #eeeeee;
}
#map{
    width:auto;
    height:auto;
}

#map div {
    height:50px;
    width:50px;
    margin:-1px;
    background-color:black;
}
#map, #minimap {
    float: left;
}
#map table {
    height:auto;
    width:auto;
}
#minimap div {
    height:25px;
    width:25px;
    margin:-1px;
    margin-bottom:-3px;
    background-color: grey;
}
#minimap {
    width:auto;
    height:auto;
    margin:auto;
    margin-left:5px;
    margin-bottom:20px;
    
}
#text,#messagediv{
    height:30px;
    width:150px;
    margin:auto;
    float:right;
    color:black;
    align-items: center;
}
#score,#msg{
    font-size:20px;
    height:auto;
    width:auto;
    margin:auto;
    margin-top:5px;
    text-align:center;
}
#sideboard{
    float:left;
    width:160px;
}
#game{
    float:left;
    width:100%;
    height:auto;

}
.obamna{
    background-image: url(obamna.png)
}
#shop{
    float:bottom;
    width:auto;
    height:auto;
}